*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: gold;
} 
 
.veiwbutton{
  padding: 12px 20px;
  font-size: 8px;
  font-family: sans-serif;
  color: white;
  background-color: #3498db;
  border: none;

}

.veiwbutton:hover{
  background-color: #2980b9;
  cursor: pointer;
  transition: all 0.5s ease;
}
.editbutton{
  padding: 12px 20px;
  font-size: 8px;
  font-family: sans-serif;
  color: white;
  background-color: #c8d9e5;
  border: none;
  
  
}

.deletebutton{
  padding: 12px 20px;
  font-size: 8px;
  font-family: sans-serif;
  color: white;
  background-color: #d22b19;
  border: none;
  
 
}

.form-control{
  text-align: center;
}
